html {
  /* background: url("../img/screen.jpg"); */
  background: #222222;
}
html.dropping {
  background: red;
}
body {
  overflow: hidden;
  min-width: 1400px;
  width: auto;
  margin: 0px;
  padding: 0px;
}
#teletextkeypad {
  position: absolute;
  width: 100px;
  height: 150px;
  left: 0px;
  top: 50%;
  transform: translate(0,-50%);
}
#teletextkeypad .button {
  width: 26px;
  height: 27px;

}
#teletextbutton {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#teletextbutton>img {
  width: 10vw;
  max-width: 100px;
}
#teletext {
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
  top: 0px;
  background: rgba(0,0,0,0.7);
  font-family: "European Teletext";
  font-size: 22px;
  letter-spacing: 0.1px;
  height: 100%;
  width: 100%;

  font-size: 4.4vh;
  line-height: 3.92vh;
  margin: auto;
  text-align: center;

  padding: 0px;
}
#teletext .link {
  cursor: pointer;
}
#teletext span {
  display: inline-block;
}
#teletext #headline {
  white-space: pre;
  color: white;
}
#teletext #content {
  white-space: pre;
}
@font-face {
  font-family: "European Teletext";
  src: url("../fonts/EuropeanTeletextExt.woff");
}

#teletext .f0 {
  color: transparent;
}
#teletext .f1 {
  color: #FF0000;
}
#teletext .f2 {
  color: #00FF00;
}
#teletext .f3 {
  color: #FFFF00;
}
#teletext .f4 {
  color: #0000FF;
}
#teletext .f5 {
  color: #FF00FF;
}
#teletext .f6 {
  color: #00FFFF;
}
#teletext .f7 {
  color: #FFFFFF;
}
#teletext .f8 {
  color: #000000;
}
#teletext .f9 {
  color: #FF9900;
}
#teletext .fa {
  color: #9147FF;
}


#teletext .b0 {
  background-color: transparent;
}
#teletext .b1 {
  background-color: #FF0000;
}
#teletext .b2 {
  background-color: #00FF00;
}
#teletext .b3 {
  background-color: #FFFF00;
}
#teletext .b4 {
  background-color: #0000FF;
}
#teletext .b5 {
  background-color: #FF00FF;
}
#teletext .b6 {
  background-color: #00FFFF;
}
#teletext .b7 {
  background-color: #FFFFFF;
}
#teletext .b8 {
  background-color: #000000;
}
#teletext .b9 {
  background-color: #FF9900;
}
#teletext .ba {
  background-color: #9147FF;
}
#teletext.invisible {
  display: none;
}
